.list {
    position: sticky;
    top: 0;
    padding: 30px 15px;
}

.my-info {
    display: flex;
}

.table-1 {
    width: 100%;
    background-color: rgb(211, 232, 238);
    height: 30px;
}

.table-1 td {
    width: 33%;
    text-align: center;
    padding: 5px;
}

.activity-btn {
    background-color: rgb(211, 120, 50);
    border: 1px solid #2582b8;
    border-radius: 8px;

}

.break-time-list {
    display: flex;
}

.photo {
    width: 90px;
    border-radius: 50%;
    padding: 5px;
}